

@{
    ViewBag.Title = "Home Page";
}

@model List<TP_B3_EPSI_2015.Models.Album>

<h2>Liste des albums</h2>

<div class="row">
    @foreach (var a in Model)
    {
        <div class="col-md-4">
            <h3>@a.titre</h3>
            <div class="label label-info">@a.auteur</div>
            <p>@a.genre - @a.annee_sortie</p>
        </div>
    }
</div>