@model List<TP_B3_EPSI_2015.Models.Album>

@{
    ViewBag.Title = "Home Page";
}

<h2>Liste des albums</h2>

<div class="row">
    @foreach (var a in Model)
    {
        <div class="col-md-4">
            <h3>@a.Titre</h3>
            <div class="label label-info">@a.Auteur</div>
            <p>@a.Genre - @a.Annee</p>
        </div>
    }
</div>